{% extends 'base.html.twig' %}

{% block title %}categorie #{{ category.name }}{% endblock %}

{% block body %}
    <div class="media">
        <h1> {{category.name}}
    </div>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} </h2>
            <p>{{program.poster}} </p>
            <p>{{ program.synopsis }}</p>
            <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>
{% endblock %}